.navbar {
    background-color: #343a40 !important; /* Dark background */
    height: 70px;  /* Set the navbar height */
    padding-top: 5px; /* Adjust the top padding */
    padding-bottom: 5px; /* Adjust the bottom padding */
    display: flex; /* Use flexbox */
    justify-content: space-between; /* Space out the content */
    align-items: center; /* Vertically align items */
  }

  .navbar-collapse {

  }
  

  .nav-link {
    font-size: 1.2rem;
    padding: 10px 15px;
  }